<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}"/>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Vanilla Periodic MonitoringTools</title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="static/css/index.css" th:href="@{/css/index.css}">
	<link rel="stylesheet" type="text/css" href="static/css/giz.css" th:href="@{/css/giz.css}">
	<link rel="stylesheet" type="text/css" href="static/css/fonts/fonts.css" th:href="@{/css/fonts/fonts.css}">
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	
	<script type="text/javascript">
		$(document).ready(function() {
		    $('input[type="file"]').change(function(e) {
		        var file = e.target.files[0].name;
		        document.getElementById('view').innerHTML = file;
		    });
		});
    </script>

	<!-- <style>
		div.ex1 {
			width: 300px;
			margin: auto;
		}
	</style> -->

</head>

<body class="add-success">
	<header class="header" th:include=@{header-global.html}> </header>

	<section class="main">
		<div class="container">
			<div class="card">
				<div class="card-body">
					<h2 class="page-title" th:utext="#{success.buton_ajout}"></h2>
					<div>
						<form class="add-success-form" method="POST" th:action="@{/save}" enctype="multipart/form-data">
							<div class="form-row">
								<label class="cust-input">
									<p th:utext="#{success.nom}"></p> <input th:name="proprietaire" class="ginput" type="text" required>
								</label> <label class="cust-input">
									<p th:utext="#{success.district}"></p>
									<!-- <input class="ginput" type="text" id="lastName" name="lastName" value=""> -->
									<input th:name="district" class="ginput" type="text" required>
								</label>
							</div>
							<div class="form-row">
								<label class="cust-input">
									<p th:utext="#{success.commune}"></p> <input th:name="commune" class="ginput" type="text" required>
								</label> <label class="cust-input">
									<p th:utext="#{success.village}"></p> <input th:name="village" class="ginput" type="text" required>
								</label>
							</div>
							<div class="form-row">
								<label class="cust-input">
									<p th:utext="#{success.thematique}"></p> <input th:name="thematique" class="ginput" type="text" required>
								</label>
							</div>
							<div class="form-row">
								<!-- <label class="cust-input"> -->
								<div class="custom-file cust-input">
									<input type="file" th:name="file" class="custom-file-input" id="customFile"
										 required> <label id="view"
										class="custom-file-label" for="customFile" th:utext="#{message.choix_fich}"></label>
								</div>
								<!-- </label> -->
							</div>
							<span th:if="${message == 1}" th:utext="#{message.enregi_reussit}"></span>
							<div class="col text-center">
								<button type="submit" class="gbtn" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" th:utext="#{success.buton_ajout}"></button>
							</div>
						</form>

					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="site-footer" th:include="@{footer.html}"></footer>


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>

</body>

</html>