<div class="table-responsive">
	<table id="indicateurList" class="composantes-table">
		<thead>
			<tr class="red">
				<th>#</th>
				<th><span th:utext="#{crud.homme}"></span></th>
				<th><span th:utext="#{crud.femme}"></span></th>
				<th><span th:utext="#{indicateur.commmetaire}"></span></th>
				<th class="center"><span th:utext="#{actions.titre}"></span></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="suivithemecoop: ${suivithemecoopList}">
				<td th:text="${suivithemecoop.id}"></td>
				<td th:text="${suivithemecoop.suivitheme_homme}"></td>
				<td th:text="${suivithemecoop.suivitheme_femme}"></td>
				<td th:text="${suivithemecoop.suivitheme_comm}"></td>
				<td class="center td-action">
					<span th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
						<a href="#" class="edit"
						th:href="@{'/editSuivithemecoop/'+ ${suivithemecoop.id}}"></a>
					</span> 
					<span
						th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
							<a href="#" class="delete"
							th:onclick="'javascript:confirmDeleteSuivithemecoop(\''+ ${suivithemecoop.id} +'\');'"></i></a>
					</span>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="alert alert-danger text-center" th:if="${listErrorMessage}"
		th:text="${listErrorMessage}"><span th:utext="#{message.error}"></span></div>
</div>

<script type="text/javascript">
	function confirmDeleteSuivithemecoop(id) {
		$('#deleteModalSuivithemecoop').modal('show');
		$("#suivithemecoopIdHiddenInput").val(id);
	}

	function deleteSuivithemecoop() {
		var id = $("#suivithemecoopIdHiddenInput").val();
		window.location = "deleteSuivithemecoop/" + id;
	}
</script>