<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}"/>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Vanilla Periodic MonitoringTools</title>

	<!--JQUERY-->
	<script src="static/vendors/jQuery/jquery-3.4.1.min.js" th:src="@{/vendors/jQuery/jquery-3.4.1.min.js}"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>

	<!-- Los iconos tipo Solid de Fontawesome-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
	<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

	<!-- Nuestro css-->
	<link rel="stylesheet" type="text/css" href="static/css/user-form.css" th:href="@{/css/user-form.css}" />
	<link rel="stylesheet" href="static/css/fonts.css" type="text/css" th:href="@{/css/fonts.css}" />
	<link rel="stylesheet" href="static/css/giz.css" type="text/css" th:href="@{/css/giz.css}" />

	<!-- DATA TABLE -->
	<script type="text/javascript" th:src="@{/vendors/jQuery/jquery-3.4.1.min.js}"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
	<script type="text/javascript" th:src="@{export/js/giz.js}"></script>

	<!--JQUERY-->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>

	<!-- Los iconos tipo Solid de Fontawesome-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
	<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

	<!-- Nuestro css-->
	<link rel="stylesheet" type="text/css" href="static/css/user-form.css" th:href="@{/css/user-form.css}">

	<!-- Datepicker -->
	<link
		href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.standalone.min.css"
		rel="stylesheet" />
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
	<!-- Datepicker -->

	<!-- DATA TABLE -->
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

	<script type="text/javascript">
		$(document).ready(function () {
			//Asegurate que el id que le diste a la tabla sea igual al texto despues del simbolo #
			$('#ListRapport').DataTable();
			$('#datepicker').datepicker({
				format: 'yyyy-mm-dd',
				"autoclose": true,
				language: 'en'
			})//.datepicker("setDate", 'now')
				;
		});
		$(document).ready(function () {
			//Asegurate que el id que le diste a la tabla sea igual al texto despues del simbolo #
			$('#indicateurList').DataTable();
			// $('.account-picture').click(function () {

			// });
		});
	</script>
</head>

<body>
	<header class="header" th:include=@{header-global.html}> </header>
	<section class="main">

		<div class="container">
			<div class="main-section" id="myTab" role="tablist">
				<header>
					<ul class="nav nav-tabs justify-content-end btn-row">

						<li class="nav-item gbtn back"><a class="nav-link"
							th:href="@{/beneficiary-table}" role="button" th:utext="#{actions.retour}"> </a></li>

						<li class="nav-item gbtn"><a class="nav-link " th:classappend=" ${listsuivithemecoopTab}"
								id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list"
								aria-selected="false" th:utext="#{cooperative.listecoop}"></a></li>
						<li class="nav-item gbtn"><a class="nav-link" th:classappend=" ${formsuivithemecoopTab}"
								id="form-tab" data-toggle="tab" href="#form" role="tab" aria-controls="form"
								aria-selected="true" th:utext="#{cooperative.nouveaucoop}"></a></li>
					</ul>
				</header>
				<!-- <section class="main"> -->
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show" th:classappend=" ${listsuivithemecoopTab}" id="list" role="tabpanel"
						aria-labelledby="list-tab">
						<div class="card">

							<div class="card-body">
								<h2 class="page-title" th:utext="#{cooperative.listecoop}"></h2>
								<div th:include="cooperative-form/cooperative-list.html" th:remove="tag"></div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade show" th:classappend=" ${formsuivithemecoopTab}" id="form" role="tabpanel"
						aria-labelledby="form-tab">
						<div class="card">

							<div class="card-body">
								<h2 class="page-title" th:utext="#{cooperative.nouveaucoop}"></h2>

								<div th:include="cooperative-form/cooperative-form.html" th:remove="tag"></div>

							</div>
						</div>
					</div>
				</div>
				<!-- </section> -->
			</div>
		</div>
	</section>
	<footer class="site-footer" th:include="@{footer.html}"></footer>
	<div th:include="cooperative-form/confirm-delete-dialog.html" th:remove="tag"></div>
</body>

</html>