<!-- Modal -->
<div class="modal fade" id="deleteModalAccueil" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content card-body">
			<div class="modal-header">
				<h2 class="page-title modal-title" id="exampleModalLongTitle" th:utext="#{message.confirmDelete}"></h2>

				<button type="button" class="gmodal-close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body p-modal"><span th:utext="#{message.text_delete}"></span><input type="hidden"
					id="accueilIdHiddenInput" name="accueilIdHiddenInput" />
			</div>
			<div class="modal-footer btn-row">
				<button type="button" class="gbtn cancel"
					style="background-color: #000000 !important; width: 80px; height: 40px; margin-right: 8px; text-align: center; font-size: 16px; border-radius: 4px;"
					data-dismiss="modal" th:utext="#{button.close}"></button>
				<button type="button" class="gbtn" th:onclick="deleteAccueil()"
					th:utext="#{actions.supprimer}"></button>
			</div>
		</div>
	</div>
</div>